@import "tailwindcss";

:root {
  /* Colors */
  --primary: #ffe01b;
  --primary-alt: #f5cb5c;
  --background: #ffffff;
  --background-alt: #f4f4f0;
  --foreground: #000000;
  --foreground-alt: #171717;
  --accent: #ff6547;
  --accent-b: #f4ed55;
  --accent-c: #1982c4;
  --accent-d: #f9c74f;

  /* Typographie */
  --sans: "Sniglet", "Geist", "Host Grotesk", sans-serif;
  --serif: "Hedvig Letters Serif", serif;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: var(--sans);
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Markdown article typography */

  .prose h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
  }

  .prose p {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    line-height: 1.75;
    color: var(--foreground-alt);
  }

  .prose ul {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-left: 1.5rem;
    list-style-type: disc;
    color: var(--foreground-alt);
  }

  .prose li {
    margin-top: 0.5rem;
    line-height: 1.75;
    list-style: inherit;
  }

  li {
    list-style: none;
  }
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-alt: var(--primary-alt);
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-foreground: var(--foreground);
  --color-foreground-alt: var(--foreground-alt);
  --color-accent: var(--accent);
  --color-accent-b: var(--accent-b);
  --color-accent-c: var(--accent-c);
  --color-accent-d: var(--accent-d);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
