@import "tailwindcss";

:root {
  /* Colors */
  --primary: #ffea00;
  --primary-alt: #fddf7c;
  --background: #ffffff;
  --background-alt: #f4f4f0;
  --foreground: #000000;
  --foreground-alt: #171717;
  --accent: #ed5c2b;
  --accent-alt: #fddf7c;

  /* Typographie */
  --sans: "Geist", "Host Grotesk", sans-serif;
  --serif: "Hedvig Letters Serif", serif;

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--sans);
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Image placeholders */

  .img-placeholder {
    display: block;
    width: 100%;
    height: auto;
    max-width: 600px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    background-color: var(--background-alt);
    border-radius: 4px;
  }

  .img-placeholder--grayscale {
    filter: grayscale(100%);
  }

  .img-placeholder--blur {
    filter: blur(5px);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
